Notas de: <%= @worker.first_name %>

<ol>
  <% @notes.each do |n| %>
    <li>
        <ul>
          <li>C<%= n.content %>
            <% if policy(Note).destroy? %>
              <%= link_to t('components.links.destroy'), note_path(n), method: :delete, data: {confirm: t('components.links.data.confirm')}  %>
            <% end %>
            </li>

        </ul>
    </li>
  <% end %>
</ol>
